<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vliux.giraffe">

    <application
        android:name=".GiraffeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
            android:authorities="com.vliux.notification.provider"
            android:name=".provider.NotificationRecordProvider"
            android:process=":service"
            android:multiprocess="false"
            android:exported="true"/>

        <activity android:name=".MainActivity"
            android:theme="@style/MainActivityTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".guide.UserGuideActivity" android:theme="@style/UserGuideActivity"/>
        <activity android:name=".SettingsActivity"/>

        <service
            android:name=".listener.NotificationTracerService"
            android:label="@string/service_name"
            android:process=":service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".decro.NotificationDecroService"
                 android:process=":service" />
    </application>

</manifest>